<div class="container">
  <h2 class="container div-bar mt-2">
    Create account
  </h2>
  <div class="container row justify-content-center mt-4 mb-5">
    <form class="col-7 col-sm-5 justify-content-center">
      <label for="" class="space">Email</label>
      <div class="input-group">
        <input type="email" class="form-control input">
      </div>

      <label for="" class="space">Password</label>
      <div class="input-group">
        <input type="password" class="form-control input">
      </div>

      <label for="" class="space">Repeat Password</label>
      <div class="input-group">
        <input type="password" class="form-control input">
      </div>

      <button type="submit" class="btn btn-secondary mt-3 float-end">Sign up</button>
    </form>
  </div>
</div>
